html, body {
	height: 100%;
}
body {
	margin: 0;
}

.message {
	text-align: center;
	/*background: url("imgs/city_background.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 100%;
	width: 100%;
}

.text {
	width: 100%;
	margin-top: 0;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 800px;
	padding-top: 13%;
}

.text h1{
	color: white;
	font-size: 6em;
	font-family: Gabriola;
	text-transform: uppercase;
	text-shadow: 3px 5.196px 6px rgb( 0, 0, 0 );
	margin: 0;
	font-weight: 100;
}

h2 {
	font-size: 5em;
	font-family: Gabriola;
	color: white;

	text-shadow: 3px 5.196px 6px rgb( 0, 0, 0 );
	margin: 0;
	margin-top: -45px;
	/*font-weight: 100;*/


}

h3 {
	font-size: 2em;
	font-family: Gabriola;
	color: white;
	text-shadow: 3px 5.196px 6px rgb( 0, 0, 0 );
	margin: 0;
	font-weight: 100;
}

a {
	text-decoration: none;
}

#video-background {
/*  making the video fullscreen  */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}



/*MEDIA Query*/

@media  (min-device-width: 320px) and (max-width: 480px)  {
	.text {
		max-width: 310px;
		padding-top: 20%;
	}
	.text h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 20px;
		margin-top: 10px;
	}
	h3 {
		font-size: 15px;
		margin-top: 10px;
	}
	#video-background {
		display: none;
	}
	.message {
		text-align: center;
		background: url("imgs/city_background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		height: 100%;
		width: 100%;
	}
}

@media screen and (max-width: 1000px), screen and (max-device-width: 1000px) {
	#video-background {
		display: none;
	}
	.message {
		text-align: center;
		background: url("imgs/city_background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		height: 100%;
		width: 100%;
	}
}


@media screen and (max-width: 600px), screen and (max-device-width: 600px) {
#video-background {
		display: none;
	}
	.message {
		text-align: center;
		background: url("imgs/city_background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		height: 100%;
		width: 100%;
	}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
	#video-background {
		display: none;
	}
	.message {
		text-align: center;
		background: url("imgs/city_background.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50% 50%;
		height: 100%;
		width: 100%;
	}
}
